.confirm_form{
  text-align: center;
  margin: auto;
  width: 800px;
  height: auto;
  background-color: #ffffff;
  border: outset 1px #d2d9de;
}

.confirm_form img{
  margin-top: 20px;
  max-width: 700px;
  max-height: 400px;
  border: inset 3px #d2d9de;
}

.confirm_form p{
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Comic Sans MS";
}

.confirm_title_field{
  margin: auto;
  background-color: #ffffff;
  border: outset 1px #d2d9de;
  width: 150px;
}

.confirm_content_field{
  margin: auto;
  background-color: #ffffff;
  border: outset 1px #d2d9de;
  word-wrap: break-word;
  width: 500px;
}

.index_box{
  float: left;
  height: 150px;
  width: 460px;
  background:  linear-gradient(-170deg,#ffffff, #e4f1f5);
  margin-top: 10px;
  margin-left: 10px;
  border: outset 1px #d2d9de;
}

.index_box img{
  margin-top: 5px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  border: solid 1px #d2d9de;
}
.index_name{
  margin-top: 5px;
  margin-left: 10px;
  background-color: #ffffff;
  border: outset 1px #d2d9de;
}

.index_content{
  width: 400px;
  margin-top: 10px;
  margin-left: 25px;
  background-color: #ffffff;
  border: outset 1px #d2d9de;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.spacer{
  clear:both;
}
